.schedule-section {
}
.header {
  position: relative;
  height: 100px;
  margin: auto;

  .header__left {
    position: absolute;
    left: 0;
    max-width: 30%;
    top: 40px;
    transform: translate(0, -50%);
    height: auto;
    max-height: 100px;
  }
  .header__right {
    position: absolute;
    right: 0;
    max-width: 30%;
    top: 40px;
    transform: translate(0, -50%);

    height: auto;
    max-height: 100px;
  }
  .header__star {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 120px;
    animation: 10s rotate infinite linear;
    @media screen and (max-width: 600px) {
      height: 80px;
    }
  }
}
@keyframes rotate {
  from {
    transform: translate(-50%, 0) rotate(0deg);
  }
  to {
    transform: translate(-50%, 0) rotate(360deg);
  }
}
.timeslots {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 0 150px;
  overflow: hidden;
  isolation: isolate;
}
.timeslot-container {
  display: flex;
  position: relative;
  flex-direction: column;
  color: #f1ede6;
  margin: auto;
  min-width: fit-content;

  &.timeslot-container--right {
    align-items: flex-end;
  }
  &.timeslot-container--left {
    align-items: flex-start;
  }

  .time {
    font-size: 2.75rem;
    @media screen and (max-width: 700px) {
      font-size: 1.5rem;
    }
    font-family: "Outfit";
  }
  .suffix {
    font-family: "Outfit";
    font-size: 1.5rem;
  }
  .details {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.25rem;
    color: #ff8945;
    margin-top: -6px;
    font-family: "Poppins";
    text-wrap: nowrap;

    img {
      height: 20px;
    }
    @media screen and (max-width: 700px) {
      font-size: 1.125rem;
    }
  }
}
/* design 100, coding 0 */
.timeslot-container {
  &:nth-child(1) {
    right: 5vw;
  }
  &:nth-child(2) {
    right: 16vw;
    @media screen and (max-width: 500px) {
      right: 12vw;
    }
    @media screen and (max-width: 400px) {
      right: 0vw;
    }
  }
  &:nth-child(3) {
    left: 4vw;
    @media screen and (max-width: 500px) {
      left: -6vw;
    }
    @media screen and (max-width: 400px) {
      left: -9vw;
    }
  }
  &:nth-child(4) {
    left: -8vw;
    @media screen and (max-width: 500px) {
      left: 0vw;
    }
    @media screen and (max-width: 400px) {
      left: 18vw;
    }
  }

  &:nth-child(5) {
    left: 18vw;
    @media screen and (max-width: 500px) {
      left: 6vw;
    }
  }
  &:nth-child(6) {
    left: 1vw;
    @media screen and (max-width: 500px) {
      left: 10vw;
    }
    @media screen and (max-width: 400px) {
      left: 28vw;
    }
  }
}
.ellipse-1 {
  position: absolute;
  height: 500px;
  top: 60px;
  left: 75vw;
  z-index: -1;
}
.ellipse-2 {
  position: absolute;
  height: 800px;
  top: 300px;
  right: 75vw;
  z-index: -1;
}
